**/opensocial_moodle_ddev_install.checkpoint

# Ignore directories named opensocial, opensocial1, opensocial2, etc.
opensocial*/

# But allow files that start with opensocial_
!opensocial_*

moodle*/

